@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-lato: 'Lato', sans-serif;
$font-spartan: 'Spartan', sans-serif;

.font-lato{
    font-family: $font-lato !important;
}
.font-spartan{
    font-family: $font-spartan !important;
}

@import 'partials/colors';
@import 'partials/normalize';
@import 'partials/select2';
@import 'partials/responsive-fix';
@import 'partials/header';
@import 'partials/slider';

#feature{
    margin: 20px 0px;
    .feature-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $color-green-light;
        border-radius: 3px;
        transition: all linear 0.2s;
        &:hover{
            transform: translateY(-10px);
        }
        .feature-image{
            width: 80%;
            margin: 20px 2px;
        }
        .feature-text{
            font-size: 16px;
            font-weight: 700;
            padding: 5px 10px;
            border-radius: 3px;
            margin-bottom: 20px;
        }
    }
   
}

.products-tab{
    .nav-item .nav-link {
        background-color: #eeeeee;
        font-size: 15px;
        margin: 0 10px;
        margin-left: 10px;
        color: $color-gray-light;
        border-radius: 4px;
        padding: 15px 24px;
        transition: 0.2s;
        border: 0;
        font-family: $font-spartan;
        font-weight: 600;
        line-height: 1;
        &:hover{
            color: $color-mint;
            background-color: $color-yellow-light;
            transform: translateY(-3px);
        }
    }

    .nav-item .nav-link.active {
        background-color: $color-yellow-light;
        color: $color-mint;
    }
}

.product-card{
    position: relative;
    background-color: #fff;
    border: 1px solid $color-mint-light;
    border-radius: 25px;
    overflow: hidden;
    transition: .2s;
    margin-bottom: 30px !important;
    .product-img-wrap{
        position: relative;
        background-color: #fff;
        padding: 10px 12px;
        overflow: hidden;
        max-height: 320px;
        .product-img{
            position: relative;
            overflow: hidden;
            border-radius: 20px;
            a{
                overflow: hidden;
                display: flex;
                img{
                    width: 100%;
                    border-radius: 10px;
                    transition: all linear 0.5s;
                }
                img.hover-img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 2;
                    opacity: 0;
                    visibility: hidden;
                    transition: all linear 0.3s;
                }
            }
        }
        &:hover{
            .product-img{
                a{
                    img{
                        transform:scale(1.1);
                    }
                    img.hover-img{
                    opacity: 1;
                    visibility: visible;
                    }
                }
            }
            .product-action-1{
                opacity: 1;
                visibility: visible;
            }
        }
        .product-badges{
            position: absolute;
            left: 20px;
            top: 19px;
            z-index: 9;
        }
    }
    .product-content-wrap {
        padding: 0 20px 15px 20px;
        .product-category {
            margin-bottom: 5px;
            a {
                color: $color-gray-light;
                font-size: 12px;
            }
        }
        h2 {
            font-size: 16px;
            font-weight: 600;
            a{
                color: $color-dark;
            }
           
        }
        .rating-result {
            display: flex;
            align-items: center;
            .stars{
                font-size: 11px;
                letter-spacing: 2px;
                color: #ffb300;
            }
            .rating{
                font-size: 14px;
                margin-left: 10px;
            }
        }
        .product-price {
            padding-top: 5px;
            span{
                font-size: 18px;
                font-weight: bold;
                color: $color-mint;
            }
            span.old-price {
                font-size: 14px;
                font-weight: 400;
                color: $color-gray-light;
                margin: 0 0 0 7px;
                text-decoration: line-through;
            }
        }
        .product-action-1.show {
            visibility: visible;
            opacity: 1;
            bottom: 26px;
            left: unset;
            right: 20px;
            top: unset;
            transform: none;
        }
    }
}
.product-action-1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease 0s;
    z-index: 9;
    a.action-btn {
        color:$color-mint;
        width: 40px;
        height: 40px;
        line-height: 44px;
        border-radius: 50px;
        background-color: $color-mint-light;
        text-align: center;
        margin: 3px;
        position: relative;
        display: inline-block;
        border: 1px solid $color-mint-midium;
        transition: all .3s ease 0s;
        &:before{
            content: '';
            position: absolute;
            left: calc(50% - 7px);
            bottom: 120%;
            -webkit-transition-delay: .1s;
            transition-delay: .1s;
            border: 7px solid transparent;
            border-top-color: $color-mint;
            z-index: 9;
            margin-bottom: -13px;
            transition-delay: .1s;
            transition: all linear 0.3s;
            opacity: 0;
            visibility: hidden;
        }
        &::after{
            bottom: 120%;
            left: 50%;
            position: absolute;
            white-space: nowrap;
            border-radius: 5px;
            font-size: 11px;
            padding: 7px 10px;
            color: #ffffff;
            background-color: $color-mint;
            content: attr(aria-label);
            line-height: 1.3;
            transition-delay: .1s;
            transition: all linear 0.3s;
            opacity: 0;
            visibility: hidden;
            transform: translateX(-50%) translateY(0px);
        }
        &:hover{
            transform: translateY(-4px);
            color:$color-mint-light;
            background-color: $color-mint;
            &::before{
                opacity: 1;
                visibility: visible;
            }
            &::after{
                opacity: 1;
                visibility: visible;
            }
        }
        i{
            font-size: 15px;
            margin-left: 1px;
        }
    }
}

.view-more{
    display: flex;
    align-items: center;
    font-family: $font-spartan;
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
    border-bottom: 2px solid $color-mint-light;
    margin-bottom: 30px;
    color: $color-mint;
    i{
        margin-left: 5px;
        transition: all linear 0.2s;
    }
    &:hover{
        i{
            transform: translateX(10px);
        }
    }
}

.banner-big{
    background-size: contain;
    background-repeat: no-repeat;
    .banner-text{
        padding: 20px 30px;
        h4{
            transition: all linear 0.2s;
        }
        
        h1{
            font-weight: 600;
        }
        a{
            background-color: $color-mint;
            color: #fff;
            font-size: 13px;
            font-weight: 700;
            padding: 10px 22px;
            line-height: 20px;
            transition: all linear 0.2s;
            &:hover{
                letter-spacing: 0.5px;
            }
        }
    }
    &:hover{
        img{
            opacity: 0.9;
        }
        h4{
            transform: translateX(15px);
        }
    }
}

.popular-categories{
    position: relative;
    .card{
        max-width: 150px;
        border: 1px solid $color-mint-light;
        border-radius: 20px;
        .card-body{
            padding: 10px;
            img{
                width: 100%;
                transition: all linear 0.3s;
                border: 0px;
            }
            .footer{
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0px;
                h4{
                    font-size: 16px;
                    font-weight: 700;
                    color: $color-gray;
                    opacity: 0.8;
                    transition: all linear 0.3s;
                }
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
                .footer > h4{
                    color: $color-mint;
                    opacity: 1;
                }
            }
        }  
    }
    .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
        background: $color-mint;
    }

    .owl-nav [class*=owl-] {
        color: $color-mint;
        background: $color-mint-light;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        top: -25%;
        transition: all linear 0.1s;
        &:hover{
            color: $color-mint-light;
            background: $color-mint;
        }
    }
    
    .owl-nav .disabled{
        opacity: 1;
    }

    .owl-nav .owl-prev {
        right: 40px;;
        font-size: 12px !important;
    }

    .owl-nav .owl-next {
        right: 0px;
        font-size: 12px !important;
    }
}

.banner-small{
    position: relative;
    clear: both;
    img{
        max-width: 100%;
    }
    .small-banner-text{
        position: absolute;
        padding: 10px 15px;
        z-index: 10;
        top: 0;
        p{
            font-size: 14px;
        }
        
        h5{
            font-size: 18px;
            font-weight: 600;
            font-family: $font-spartan;
            transition: all linear 0.2s;
            &:hover{
                transform: translateX(5px);
            }
        }
        a{
            color: $color-mint; color: #fff;
            font-size: 13px;
            line-height: 13px;
            i{
                transition: all linear 0.2s;
            }
            &:hover{
                i{
                    margin-left: 15px !important;
                }
                
            }
        }
    }
}

.new-arrival{
    .product-card{
        transition: all linear 0.2s;
        .product-action-1{
            top: 70%;
            a.action-btn {
                width: 30px;
                height: 30px;
                line-height: 33px;
                border-radius: 50%;
            }
        }
        &:hover{
            transform: translateY(-5px) !important;
        }
    }
    .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
        background: $color-mint;
    }

    .owl-nav [class*=owl-] {
        color: $color-mint;
        background: $color-mint-light;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        top: -15%;
        transition: all linear 0.1s;
        &:hover{
            color: $color-mint-light;
            background: $color-mint;
        }
    }
    
    .owl-nav .disabled{
        opacity: 1;
    }

    .owl-nav .owl-prev {
        right: 40px;;
        font-size: 12px !important;
    }

    .owl-nav .owl-next {
        right: 0px;
        font-size: 12px !important;
    }
}

.banner-timer{
    width: 100%;
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 420px;
    .banner-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 50px;
        div{
            width: 100%;
        }
        .banner-content-top{
            font-family: $font-spartan;
            h5{
                color: $color-dark;
                font-weight: 400;
                letter-spacing: 0;
                margin-bottom: 20px;
                max-width: 240px;
            }
        }
        .banner-content-middle{
            align-self: center;
            font-family: $font-spartan;
            .product-title {
                max-width: 240px;
                margin-bottom: 20px;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.23;
                a{
                    color: $color-dark;
                }
            }
            .product-price {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                font-weight: 300;
                font-size: 20px;
                line-height: 1.25;
                margin-bottom: 20px;
                color: $color-rose-dark;
                .new-price {
                    font-weight: 400;
                    letter-spacing: -.01em;
                    margin-right: 10px;
                }
                .old-price {
                    color: $color-gray-light;
                    text-decoration: line-through;
                }
            }
        }
        .banner-content-bottom{
            align-self: flex-end;
            .banner-countdown{
                margin-left: -12px;
                margin-bottom: 20px;
                .countdown-section {
                    position: relative;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 1;
                    padding: 20px 5px 15px 5px;
                    margin-left: 0.8rem;
                    margin-right: 0.8rem;
                    background-color: $color-mint;
                    border-radius: 4px;
                    border: none;
                    margin-bottom: 2rem;
                    &:not(:last-child)::after{
                        color: $color-dark;
                        content: ':';
                        display: inline-block;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 1;
                        position: absolute;
                        left: 100%;
                        margin-left: 12px;
                        margin-top: -1px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    .countdown-amount {
                        display: inline-block;
                        color: #fff;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 1;
                        margin-bottom: 30px;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                    }
                    .countdown-period {
                        position: absolute;
                        left: 0;
                        right: 0;
                        text-align: center;
                        bottom: -20px;
                        display: block;
                        font-weight: 400;
                        color: $color-gray-light;
                        text-transform: uppercase;
                        width: 100%;
                        padding-left: 0;
                        padding-right: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .shop-now{
                display: inline-block;
                background: none;
                border: 2px solid #088178;
                color: #088178;
                border-radius: 4px;
                font-size: 14px;
                padding: 10px 24px;
                transition: all linear 0.2s;
                i{
                    margin-left: 5px;
                    transition: all linear 0.2s;
                }
                &:hover{
                    transform: translateY(-5px);
                    i{
                        margin-left: 15px;
                    }
                }
                &:focus{
                    box-shadow: none;
                }
            }
        }
    }
}

.featured-brand{
    .card{
        margin-top: 20px;
        border: 0;
        max-width: 180px;
        img{
            filter: grayscale(100%);
            transition: all linear 0.2s;
        }
        &:hover{
            img{
                filter: grayscale(0%);
            }
        }
    }

    .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
        background: $color-mint;
    }

    .owl-nav [class*=owl-] {
        color: $color-mint;
        background: $color-mint-light;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        top: -30%;
        transition: all linear 0.1s;
        &:hover{
            color: $color-mint-light;
            background: $color-mint;
        }
    }
    
    .owl-nav .disabled{
        opacity: 1;
    }

    .owl-nav .owl-prev {
        right: 40px;;
        font-size: 12px !important;
    }

    .owl-nav .owl-next {
        right: 0px;
        font-size: 12px !important;
    }
}

#monthly-best-sale{
    .banner-small{
        img{
            opacity: 0.9;
        }
        .small-banner-text {
            top: 20%;
            a{
                color: #fff !important;
            }
        }
    }
    .product-card{
        maz-width: 200px;
        transition: all linear 0.2s;
        .product-action-1{
            top: 70%;
            a.action-btn {
                width: 30px;
                height: 30px;
                line-height: 33px;
                border-radius: 50%;
                &::after{
                    left: -25%;
                }
            }
        }
        &:hover{
            transform: translateY(-5px) !important;
        }
        .product-action-1.show{
            top: unset !important;
            bottom: 12%;
            right: 5px;
        }
    }
}

.blog-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-image{
        max-width: 40%;
        margin-right: 10px;
        img{
            max-width: 100%;
        }
    }
    .card-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
        p.category{
            font-size: 14px;
            color: $color-mint;
            margin-bottom: 10px;
        }
        a.title{
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
            color: $color-dark;
            margin-bottom: 30px;
            font-family: $font-spartan;
            transition: all linear 0.3s;
            &:hover{
                color: $color-mint;
            }
        }
        p.date-views{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            line-height: 14px;
            span{
                .dot{
                    position: relative;
                    &::after{
                        content: "";
                        width: 4px;
                        height: 4px;
                        background: $color-gray-light;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        margin-left: 4px;
                        display: block;
                        left: -2px;
                    }
                }
            }
            a{

            }
        }
    }
}

#deals-bottom{
    .banner-small{
        img{
            opacity: 0.9;
        }
        .small-banner-text {
            top: 30%;
        }
    }

    .section-title{
        position: relative;
        border-bottom: 1px solid #e2e9e1;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
        font-family: $font-spartan;
        &::after{
            content: "";
            width: 50px;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $color-mint;
        }
    }
    .product-card-mini{
        display: flex;
        justify-content: center;
        align-items: center;
        .card-image{
            max-width: 50%;
            margin-right: 10px;
            img{
                max-width: 80%;
            }
        }
        .card-content{
            .title{
                line-height: 13px;
                margin-bottom: 10px;
                font-size: 13px;
                font-weight: 500;
                font-family: $font-spartan;
                a{
                    color: $color-dark;
                    
                }
            }
            .product-price{
                display: flex;
                font-size: 16px;
                font-weight: 500;
                color: $color-mint;
                .old-price{
                    text-decoration: line-through;
                    color: $color-gray-light;
                    margin-left: 10px;
                }
            }
            
        }
    }
}

#newsletter{
    background-color: $color-mint-midium;
    .icon-email {
        max-width: 40px;
        margin-right: 15px;
    }
    h4 {
        font-size: 18px;
        font-family: "Spartan", sans-serif;
        color: $color-dark;
        font-weight: 600;
        line-height: 1.2;
    }
    .des{
        h5{
            font-size: 14px;
            font-family: "Spartan", sans-serif;
            color: $color-dark;
            font-weight: 600;
            line-height: 1.2;
        }
    }
    .form-subcriber{
        input {
            border-radius: 4px 0 0 4px;
            border: 0;
            padding: 0 20px 0 30px;
            font-size: 14px;
        }
        button {
            border-radius: 0 4px 4px 0;
            border: 0;
            font-size: 14px;
            padding: 0 30px;
            font-family: "Spartan", sans-serif;
        }
    }
}

footer{
    .footer-logo{
        max-width: 110px;
    }
    .social-follow{
        margin: 0;
        padding: 0;
        display: flex;
        li{
            a{
                padding: 5px;
                transition: all linear 0.1s;
                img{
                    width: 20px;
                    opacity: 0.7;
                }
                &:hover{
                    img{
                        opacity: 1;
                    }
                }
            }
        } 
    }
    .title{
        font-size: 16px;
        font-weight: 600;
        font-family: $font-spartan;
        margin-bottom: 10px;
    }
    .links{
        margin: 0;
        padding: 0;
        li{
            margin: 10px 0px;
            a{
                color: $color-dark;
                font-size: 14px;
                transition: all linear 0.2s;
                &:hover{
                    color: $color-mint;
                    margin-left: 5px;
                }
            }
        }
    }

    .app-images{
        margin-bottom: 20px;
        img{
            width: 180px;
            margin: 10px 0px;
            border: 2px solid $color-mint;
            border-radius: 5px;
            padding: 5px;
        }
    }
}

#site-modal{
    .modal-dialog{
        max-width: 750px;
        position: relative;
        .btn-close{
            position: absolute;
            z-index: 50;
            right: 20px;
            top: 20px;
        }
    }
}