$color-dark: #1a1a1a !important;
$color-gray: #333333 !important;
$color-gray-light: #90908e !important;
$color-mint: #39B4AC !important;
$color-rose-light: #fddde4 !important;
$color-aqua-light: #d1e8f2 !important;
$color-green-light: #cdebbc !important;
$color-purple-light: #cdd4f8 !important;
$color-pink-light: #f6dbf6 !important;
$color-yellow-light: #fff2e5 !important;
$color-yellow: #fde1bd !important;
$color-rose: #ff75a0 !important;
$color-rose-dark: #ff3551 !important;
$color-mint-midium: #99bbad !important;
$color-mint-light: #d8f4e2 !important;
$color-orange: #ffab73 !important;
$color-blue-light: #a1cae2;


.bg-dark{
    background-color: $color-dark;
}

.bg-gray{
    background-color: $color-gray;
}

.bg-gray-light{
    background-color: $color-gray-light;
}

.bg-mint{
    background-color: $color-mint;
}

.bg-rose-light{
    background-color: $color-rose-light;
}

.bg-aqua-light{
    background-color: $color-aqua-light;
}

.bg-green-light{
    background-color: $color-green-light;
}

.bg-purple-light{
    background-color: $color-purple-light;
}

.bg-pink-light{
    background-color: $color-pink-light;
}

.bg-yellow-light{
    background-color: $color-yellow-light;
}

.bg-yellow{
    background-color: $color-yellow;
}

.bg-rose{
    background-color: $color-rose;
}

.bg-rose-dark{
    background-color: $color-rose-dark;
}

.bg-mint-midium{
    background-color: $color-mint-midium;
}

.bg-mint-light{
    background-color: $color-mint-light;
}

.bg-orange{
    background-color: $color-orange;
}

.bg-blue-light{
    background-color: $color-blue-light
}

.color-dark{
    color: $color-dark;
}

.color-gray{
    color: $color-gray;
}

.color-gray-light{
    color: $color-gray-light;
}

.color-mint{
    color: $color-mint;
}

.color-rose-light{
    color: $color-rose-light;
}

.color-aqua-light{
    color: $color-aqua-light;
}

.color-green-light{
    color: $color-green-light;
}

.color-purple-light{
    color: $color-purple-light;
}

.color-pink-light{
    color: $color-pink-light;
}

.color-yellow-light{
    color: $color-yellow-light;
}

.color-yellow{
    color: $color-yellow;
}

.color-rose{
    color: $color-rose;
}

.color-rose-dark{
    color: $color-rose-dark;
}

.color-mint-midium{
    color: $color-mint-midium;
}

.color-mint-light{
    color: $color-mint-light;
}

.color-orange{
    color: $color-orange;
}

.color-blue-light{
    color: $color-blue-light
}
