#main-slider{
    overflow-x: hidden;
    padding: 20px;
    position: relative;
    .slider-content{
        margin: 20px;
        h4{
            margin-bottom: 18px;
            font-size: 24px;
            font-weight: 600;
            font-family: $font-spartan;
        }
        h2{
            margin-bottom: 10px;
            font-size: 46px;
            line-height: 54px;
            font-weight: 700;
            font-family: $font-spartan;
        }
        h1{
            margin-bottom: 0px;
            font-size: 58px;
            line-height: 64px;
            font-weight: 700;
            font-family: $font-spartan;
        }
        p{
            margin-bottom: 22px;
            font-size: 18px;
            line-height: 36px;
        }
        a{
            padding: 14px 80px 14px 65px;
            background-color: transparent;
            background-repeat: no-repeat;
            font-weight: 700;
            font-size: 16px;
        }
    }
    .slider-image{
        width: 100%;
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: $color-mint;
    }

    .owl-theme .owl-nav [class*=owl-] {
        color: $color-mint;
        background: $color-mint-light;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        top: 40%;
        transition: all linear 0.1s;
        &:hover{
            color: $color-mint-light;
            background: $color-mint;
        }
    }
    
    .owl-theme .owl-nav .disabled{
        opacity: 1;
    }

    .owl-theme .owl-nav .owl-prev {
        left: -80px;
        margin-left: -5px;
        
    }

    .owl-theme .owl-nav .owl-next {
        right: -80px;
        margin-right: -5px;
        
    }
}
